player-connection-mode=Listen
player-connection-guid=1470666774
player-connection-debug=0
player-connection-project-name=Fly Away
player-connection-ip=192.168.138.36
player-connection-ip=192.168.137.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=697fe2a28136480fb521a2afe71d375e
